.tpList{
  content: "";
  display: table;
  clear: both;
}
.tpWrap {
  padding-top: 15px;
}

.pic:hover img{
  -webkit-transform:scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
  -transform:scale(1.5,1.5);
}
.tpList .pic {
  height: 88px;
  margin: 0 19px 0 0;
  width: 120px;
  height: 96px;
  position: relative;
}
.tpList .pic {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  display: inline;
  text-align: center;
}

.tpList .tpWrap .picto {
  width: 120px;
  height: 96px;
  vertical-align: bottom;
}


.tpList .tpWrap .text{
  height: 88px;
  margin-left: 139px;
  position: relative;
  height: 96px;
  width:731px;
}

.tpList .tpWrap .text .st {
  bottom: -3px;
}

.tpList .tpWrap .text {

}

/**
.major .st {
  height: 21px;
}
.st {
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 100%;
}**/

.tpList em {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  display: inline-block;
}
